* {
    color: black;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: oswald;
    cursor: default;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background-color: rgb(170, 0, 0);
}

nav {
    position: sticky;
    top: 0;
    background-color: rgb(170, 0, 0);
    z-index: 3;
}

.nav-contents {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.nav-left-item h1 {
    font-size: 35px;
    color: white;
}
.nav-right-item button {
    border: none;
    background: none;
}
.links-container {
    position: absolute;
    height: 0;
    width: 100%;
    background: rgb(170, 0, 0);
    transition: .25s ease-out;
    overflow: hidden;
}
.links-container-content {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.links-container-item {
    font-size: 20px;
    align-items: center;
    display: inline-flex;
    gap: 5px;
    border-bottom: 3px solid rgb(170, 0, 0);
    transition: .5s ease-out border-color;
    text-decoration: none;
}
.links-container-item h3{
    color: white;
}
.links-container-item:hover {
    border-bottom: 3px solid white;
}

.banner {
    display: flex;
    position: relative;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.banner h1 {
    color: white;
    position: absolute;
    font-size: 75px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.yaps {
    background-color: rgb(170, 0, 0);
    margin-bottom: 30px;
}
.right-yap {
    display: none;
}
.yaps-container {
    padding: 30px;
}
.yaps-container h1 {
    color: white;
    font-size: 70px;
}
.yaps-container h3 {
    color: white;
    margin-top: 20px;
}
.jersey {
    background-color: rgb(241, 240, 240);
}
.jersey-content {
    padding: 30px;
}

.jersey-content h1 {
    font-size: 70px;
}
.jersey-item-wrap2 {
    display: block;
}
.jersey-item2 {
    border-radius: 15px;
    overflow: hidden;
    transition: .25s ease-out;
    background-color: white;
}
.jersey-item2:hover {
    transform: scale(1.05);
}
.jersey-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.jersey-container-upper {
    display: flex;
    justify-content: center;
}
.jersey-container-upper img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 330px;
}
.jersey-container-lower {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.jersey-container-lower h2 {
    font-weight: bold;
}
.jersey-container-lower h4 {
    color: rgb(170, 0, 0);
}
.jersey-container-lower-content {
    padding: 10px;
}

.buy-link {
    color: white;
    text-decoration: none;
    background-color: rgb(170, 0, 0);
    text-align: center;
    font-weight: bold;
    display: inline;
    border: 3px solid rgb(170, 0, 0);
    padding: 7px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
    transition: .2s ease-out;
}
.buy-link:hover {
    border: 3px solid rgba(170, 0, 0, 0.726);
    background: rgba(170, 0, 0, 0.726);
    cursor: pointer;
}

.swiper {
    margin-top: 50px;
    background: none;
    border-radius: 15px;
}
@media only screen and (min-width: 768px) {
    .banner h1 {
        color: white;
        position: absolute;
        font-size: 100px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .jersey-content {
        margin-left: 10%;
        margin-right: 10%;
    }
    .yaps-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px;
        overflow: hidden;
        gap: 25px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .left-yap {
        max-width: 650px;
    }
    .right-yap {
        display: block;
    }
    .jersey-container-upper img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 275px;
    }
    #two {
        display: block;
    }
    #three {
        display: block;
    }
}
